<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schoolapp.schoolapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddStudentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddClassActivity"
            android:label="@string/add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddTeachersActivity"
            android:label="@string/add"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ListOfStudentsActivity"
            android:label="@string/students"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfTeachersActivity"
            android:label="@string/teachers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfClassesActivity"
            android:label="@string/classes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfModulesActivity"
            android:label="@string/teachers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfCoursesActivity"
            android:label="@string/course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailStudentActivity"
            android:label="@string/details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailTeacherActivity"
            android:label="@string/details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailModuleActivity"
            android:label="@string/details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailCourseActivity"
            android:label="@string/details"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DetailClassActivity"
            android:label="@string/details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditStudentActivity"
            android:label="@string/edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditTeacherActivity"
            android:label="@string/edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditClassActivity"
            android:label="@string/edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LanguageActivity"
            android:label="@string/language"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>