<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schoolapp.schoolapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListOfStudents"
            android:label="@string/title_activity_list_of_students"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfClasses"
            android:label="@string/title_activity_list_of_classes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfCourses"
            android:label="@string/title_activity_list_of_courses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfTeachers"
            android:label="@string/title_activity_list_of_teachers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfModules"
            android:label="@string/title_activity_list_of_modules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddStudent"
            android:label="@string/title_activity_addNew"
            android:theme="@style/AppTheme.NoActionBar"
        />
    </application>

</manifest>